<!--Top Nav Begins-->
<ul class="nav nav-pills ml-lg-5 mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-personal" role="tab" aria-controls="pills-profile" aria-selected="false">Personal Funds</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-saving" role="tab" aria-controls="pills-contact" aria-selected="false">Savings/Investments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-upkeep" role="tab" aria-controls="pills-contact" aria-selected="false">Upkeep</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-emergency" role="tab" aria-controls="pills-contact" aria-selected="false">Emergency Funds</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-school" role="tab" aria-controls="pills-contact" aria-selected="false">School</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-rental" role="tab" aria-controls="pills-contact" aria-selected="false">Rentals</a>
    </li>
</ul>
<!--Top Nav Ends-->
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <!--Home Begins-->
        <section id="team">
            <div class="container">
                <h5 class="section-title h1">Mi Asesor financiero</h5>
                <div class="row">
                    <!-- Personal Funds Card -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip">
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p style="padding-top:20%;"></p>
                                            <h4 class="card-title">Personal Funds</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <a class="nav-link" data-toggle="pill" href="#pills-personal"><h4 class="card-title">Personal Funds</h4></a>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Personal Funds Card -->
                    <!-- Savings/Investments Card -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p style="padding-top:20%;"></p>
                                            <h4 class="card-title">Savings/Investments</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Savings/Investments</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Savings/Investments Card -->
                    <!-- Upkeep Card -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p style="padding-top:20%;"></p>
                                            <h4 class="card-title">Upkeep</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Upkeep</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Upkeep Card -->
                    <!-- Emergency Funds Card -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p style="padding-top:20%;"></p>
                                            <h4 class="card-title">Emergency Funds</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Emergency Funds</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./TEmergency Funds Card -->
                    <!-- School Card -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p style="padding-top:20%;"></p>
                                            <h4 class="card-title">School</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">School</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./School Card -->
                    <!-- Rental Card -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p style="padding-top:20%;"></p>
                                            <h4 class="card-title">Rental</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Rental</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Rental Card -->

                </div>
            </div>
        </section>
        <!--Home Ends-->
    </div>
    <!--Personal Funds Begins-->
    <div class="tab-pane fade" id="pills-personal" role="tabpanel" aria-labelledby="pills-profile-tab">

        <section id="team">
            <div class="container">
                <h5 class="section-title h1">Personal Funds</h5>
            </div>
        </section>

    </div>
    <!--Personal Funds Ends-->
    <!--Savings/Investments Begins-->
    <div class="tab-pane fade" id="pills-saving" role="tabpanel" aria-labelledby="pills-contact-tab">

        <section id="team">
            <div class="container">
                <h5 class="section-title h1">Savings/Investments</h5>
            </div>
        </section>

    </div>
    <!--Savings/Investments Ends-->
    <!--Upkeep Begins-->
    <div class="tab-pane fade" id="pills-upkeep" role="tabpanel" aria-labelledby="pills-contact-tab">
        <section id="team">
            <div class="container">
                <h5 class="section-title h1">Needs/Upkeeps</h5>
            </div>
        </section>

    </div>
    <!--Upkeep Ends-->
    <!--Emergency Funds Begins-->
    <div class="tab-pane fade" id="pills-emergency" role="tabpanel" aria-labelledby="pills-contact-tab">
        <section id="team">
            <div class="container">
                <h5 class="section-title h1">Emergency Funds</h5>
            </div>
        </section>
    </div>
    <!--Emergency Funds Ends-->
    <!--School Begins-->
    <div class="tab-pane fade" id="pills-school" role="tabpanel" aria-labelledby="pills-contact-tab">
        <section id="team">
            <div class="container">
                <h5 class="section-title h1">School</h5>
            </div>
        </section>

    </div>
    <!--School Ends-->
    <!--Rental Begins-->
    <div class="tab-pane fade" id="pills-rental" role="tabpanel" aria-labelledby="pills-contact-tab">
        <section id="team">
            <div class="container">
                <h5 class="section-title h1">Rentals</h5>
            </div>
        </section>

    </div>
    <!--Rentals Ends-->
</div>